

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* FONS */
body{
    background-image: none;
}

/* body {
    /*background-image: url('../img/fons.png');
    background-image: url('../img/ilustracio2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: Arial, sans-serif;

    /* evita que el header tapi contingut 
    padding-top: 80px;
} */



.hero {
    min-height: 100vh;
    transition: opacity 0.4s ease, min-height 0.4s ease;
    background-image: url('../img/ilustracio2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.hero.ocult {
    opacity: 0;
    height: 0;
    overflow: hidden;
    min-height: 0;
    transition: 0.4s;
}


/* CONTENIDOR */
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

/* HEADER */
header {
    background-color: #333;
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;
    z-index: 1000;
}


main {
    
    background: white;   /* 🔥 clau */
    position: relative;
    z-index: 2;
    min-height: 100vh;
    
    
    margin-top: 80px;
    padding: 40px 20px;



}






/* NAV */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

/* LOGO */
.logo img {
    max-width: 140px;
}

/* MENÚ */
.menu-derecha {
    display: flex;
    gap: 20px;
}

.menu-derecha a {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

.menu-derecha a:hover {
    color: #f4a261;
}

/* HAMBURGUESA */
.hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.hamburguesa span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* ANIMACIÓ ✖ */
.hamburguesa.actiu span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburguesa.actiu span:nth-child(2) {
    opacity: 0;
}

.hamburguesa.actiu span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 900;
}

.overlay.actiu {
    opacity: 1;
    visibility: visible;
}

/* TABLET */
@media (max-width: 992px) {
    .menu-derecha {
        gap: 10px;
    }

    .menu-derecha a {
        font-size: 14px;
    }
}

/* MÒBIL */
@media (max-width: 768px) {

    .hamburguesa {
        display: flex;
    }

    .menu {
        position: relative;
    }

    .menu-derecha {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #333;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        z-index: 1000;
    }

    .menu-derecha.actiu {
        max-height: 400px;
    }

    .menu-derecha a {
        padding: 15px;
        border-bottom: 1px solid #555;
    }

    .hero.ocult {
        display: none;
    }
    .contingut-ajuts {
        flex-direction: column;
    }    
}





/* MÒBIL PETIT */
@media (max-width: 480px) {
    .hero.ocult {
        display: none;
    }    
    .logo img {
        max-width: 110px;
    }
}





.text-h3 {
    color:rgb(22, 22, 160);
    background-color: white;

    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}




.seccio {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
}

.subtitol {
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro {
    margin-bottom: 30px;
    font-size: 18px;
    color: #555;
}

.contingut-ajuts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contingut-ajuts .text {
    flex: 1;
}

.contingut-ajuts .imatge {
    flex: 1;
}

.contingut-ajuts img {
    width: 100%;
    border-radius: 10px;
}


