

@media (max-width: 600px) {
  .columna { width: 100%; }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


/**********************************************/
/*FONS DE PANTALLA "LA FOTO BLAVA"*/
  body {
    background-image: url('../img/fons.png');
    background-size: cover; /* imatge ocupa tota la pantalla */
    background-repeat: no-repeat; /* no es repeteix la imatge */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Mante la imagen fixa al fer scroll */
    margin: 0; /* Elimina marges predeterminats */
    height: 100vh; /* Assegura que arribi a dalt de la finestra */
  }
/****************************************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* Estils barra superior fixa */
.header {
    /*z-index: 1000; /* per sobre d altres elements */

    background-color: #333; /*color de fons*/
    color: white; /*color lletres*/
    padding: 1rem 5%; /* Padding relatiu */
    display: flex;
    justify-content: space-between; /* Separa logo y menú */
    align-items: center; /* Centra vertical */
    position: fixed; /* el menu no es mou i el contingut de la pagina si */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Logo a l esq, links a la dret */
    align-items: center;
    padding: clamp(1rem, 5vw, 2rem);
    background-color: #333; /* Color de fons */
    
    
}


.logo {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}


/* Estils de la llista - ¡! */

.menu-derecha {
    display: flex;
    justify-content: flex-end; /* Alinea elements a la dreta */
    list-style-type: none; /* treu els punts de la llista */
    margin: 0;
}

/* Estil elements de llista dins de etiqueta li */
.menu-derecha li {
    margin-left: 20px; /* Espai entre opcions */
}

/* Estil enllaços etiqueta a href */
.menu-derecha a {
    text-decoration: none; /* treu subratllat */
    color: white; /* Color text */
    font-weight: bold; /*negreta*/
    padding: 5px 10px;
}

/* Efecte al passar el mouse */
.menu-derecha a:hover {
    color: #f4a261;
}
